.about-us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #001a46;
  background-color: #ffffff;
  width: 100vw;
  height: 50vh;
  font-weight: 100;
}

.about-us__h2 {
  font-size: 4rem;
  font-weight: bold;
}

.about-us p {
  font-size: 2rem;
  color: #001a46;
  width: 50vw;
  text-align: center;
}
