.header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
}
.header-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}
.header-img img {
  width: 150px;
}

.navbar-ul__li {
  list-style: none;
  border: solid #001a46 5px;
  border-radius: 10px;
  color: #001a46;
  font-size: 2rem;
  padding: 5px 30px;
  text-decoration: none;
  font-weight: 800;
}
.navbar-ul {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
}
.navbar-ul__li:active {
  color: #fff;
  background-color: #001a46;
}
.navbar-ul__li a {
  text-decoration: none;
}
