* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
}
.main-header__child {
  display: flex;
  flex-flow: column wrap;
}

.navbar {
  display: none;
}

.hero {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.hero h1 {
  font-size: 5rem;
  display: flex;
  align-items: center;
  height: 50vh;
}
.figure-grua {
  display: flex;
  height: 80vh;
  align-items: center;
}
.figure-grua img {
  display: flex;
  height: 400px;
}
.tecno {
  background-color: #d1ebff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.about-us {
  display: flex;
  justify-content: space-evenly;
}
.form {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.form-image img {
  width: 200px;
  height: 200px;
  padding: 0;
  margin-bottom: 4rem;
}
.text {
  width: 100%;
}
.msg {
  width: 100%;
}
.footer-ul li a img {
  width: 100px;
  height: 100px;
}
.figure {
  display: flex;
  align-items: center;
}
.tecno-container__ul {
  display: flex;
}
.tecno {
  padding: 15px 0;
}
.tecno-container__ul li {
  margin-bottom: 10px;
}
.form {
  display: flex;
  align-items: center;
}
