.tecno {
  background-color: #d1ebff;
  width: 100vw;
  height: 50vh;
}

.tecno1__child {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.tecno1__child li img {
  width: 150px;
  height: 150px;
}

.tecno1__h2 h2 {
  font-size: 4rem;
  color: #001a46;
  text-align: center;
  padding: 5px 0;
}
